.bb::after{
	content: "";
	display: block;
	clear: both;
}
body,ul{
	padding: 0;
	margin: 0;
}
.aa{
	margin-top: 20px;
	height:48px;
	background-color: orange;
	text-align: center;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
.aa ul{
	width:636px;
	margin: auto;
}
.aa ul li{
	text-align: left;
	text-indent: 10px;
	height:48px;
	list-style-type: none;
	display: inline-block;
	float:left;
	line-height: 48px;
	z-index: 1;
}
.aa ul li a{
	width:200px;
	display: inline-block;
	text-decoration: none;
	font-size: 16px;
	position:relative;
}
.aa ul li{
	border-right:1px solid rgba(0,0,0,.5);
}
.aa ul li:nth-child(1){
	border-left:1px solid rgba(0,0,0,.5);
}
.aa ul li a{
	color:#000;
	transition: all .5s;
}
.aa ul li a:hover{
	color:#fff;
}
.aa ul li a i{
	color:#fff;
	margin-right: -10px;
	transform: scale(0);
	transition: all .5s;
}
.aa ul li a:hover i{
	margin-right: 2px;
	transform: scale(1);
}
.aa ul li a::after{
	content:"";
	position: absolute;
	left:20%;
	right:10%;
	top:20%;
	bottom:0;
	border-radius: 100%;
	background-color: #f00;
	z-index: -1;
	box-shadow: 0px 0px 10px 0 rgba(0,0,0,.4);
	transition: all .5s;
}
.aa ul li a:hover::after{
	box-shadow: 1px 6px 6px 0 rgba(0,0,0,.6);
}
