clearfix::after{
	content: "";
	display: table;
	clear: both;
}
body{
	background-image: url(../img/bg.jpg);
}
ul{
	list-style-type: none;
}
a{
	text-decoration: none;
	color: #000000;
}

.aa{
	max-width: 1200px;
	margin: auto;
}
.aa a img{
	width: 150px;
	height: auto;
}
header{
	margin: 30px 0;
}
.aa li{
	float: left;
	margin: 20px;
	transition: all.5s;
	width: 60px;
	height: 40px;
	text-align: center;
}
.aa a{
	line-height: 40px;
}
.aa header{
	position: relative;
}
.bb{
	width: 600px;
	position: absolute;
	right: 0;
	top: 0;
}
.bb li:hover{
	border: 1px solid #fff;
	border-radius: 2px;
	color: #fff;
}
.cc ul li{
	text-align: center;
	line-height: 30px;
	border: 1px solid #000;
	width: 100px;
	height: 30px;
	color: #fff;
	border-radius: 10px;
}
.cc ul li:hover{
	background-color: rgba(8,8,8,.5)
}


